/* START CSS Resets */

/* box sizing */
html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

/* margin and padding */
* {
  margin: 0;
  padding: 0;
}

/* forms and buttons */
input,
textarea,
select,
button {
  color: inherit; 
  font: inherit; 
  letter-spacing: inherit; 
}

/* END CSS Resets */
